In [1]:
#this is a comment
print("Hello world!")

Hello world!

In [2]:
x= 10
y= 15
print(x)
print(y)

10
15

In [3]:
x=24
x="nima"
print(x)

nima

In [7]:
myvar="nima"
print(myvar)

nima

In [8]:
my_var='nima'
print(my_var)

nima

In [9]:
_my_var="nima"
print("_my_var")

_my_var

In [10]:
myVar='nia'
print(myVar)

nia

In [12]:
my-var='nia'
print(my-var)

SyntaxError: can't assign to operator (<ipython-input-12-4af1ec4c98bc>, line 1)

In [13]:
x='hello nima'
type(x)

str

In [14]:
x=67
type(x)

int

In [15]:
x=7.90
type(x)

float

In [16]:
x=8+7j
type(x)

complex

In [21]:
x=['nima','anekal',8.9,7+7j,897]
type(x)

list

In [29]:
x=("nima","suma","nia")
type(x)

tuple

In [30]:
x=range(78)
type(x)

range

In [31]:
x={"apple","banana"}
type(x)

set

In [34]:
x={"name":"nia","age":23}
type(x)

dict

In [35]:
x=frozenset({"apple","banana"})
type(x)

frozenset

In [36]:
x=True
type(x)

bool

In [37]:
x=b"hello"
type(x)

bytes

In [38]:
x=bytearray(5)
type(x)

bytearray

In [39]:
x=memoryview(bytes(5))
type(x)

memoryview

In [40]:
#convert into to float
a=float(67)
print(a)

67.0

In [42]:
#convert float to int
a=int(78.98)
print(a)

78

In [43]:
#convert float to complex
a=complex(23.78)
print(a)

(23.78+0j)

In [45]:
#convert complext to float
a=float(67.90j)
print(a)

TypeError: can't convert complex to float

In [48]:
import random
print(random.randrange(1,100))

72